{{define "head"}}
		<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<style>
			.form-horizontal {	
				margin:30px ;
			}
			input {
				background-color:red;
				padding:50px auto;
			}
			.inputForm{
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				line-height:1.4em;
				font-size:20px;
				min-width:80%;
				display:block;
				margin:20px auto;
			}
			#submitButton{
				background-color:300px;
			}
			h3,small {
				font-family: "Open Sans", san-serif;
				color: #2C01D5;
			}
			button {
				background-color: #2BB673;
				color: white;	
				font-family: "Open Sans", san-serif;
				font-weight: 300;
				
			}
			#logo {
				display:block;
				margin-left:auto;
				margin-right:auto;
				top:0;
				z-index: 100;
				position: relative;
				margin-left: auto;
				margin-right: auto;
			}
			.logo-circle {
			}
			input {
				margin-bottom:15px;
			}
			fieldset {
				
				padding:0;
				min-width:100%;
			}
			#form_div {
				padding-bottom: 10px;
				min-height: 10em;
				position:relative;
				max-width:50%;
				max-height:500px;
				margin-top:6em;
				margin-bottom:130px;
				border-radius:8px; 
				border:solid #E3E3E3 2.5px;
				margin-left:auto;
				margin-right:auto;
				left:0;
				right:0
			}
			span.seperator {
				color:black;
			}
			a:hover {
				color:black;
			}
 
			nav,a {
				font-family: "Nunito";
				color:lightgray;
			}
			.navbar-fixed-bottom {
				border:0;
				background-color: white;
				position:relative;
			}
			
			@media only screen and (max-width: 500px){
				#form_div {
					max-width: 90%;
				}
			}

			p a {
				color:gray;
			}
		</style>
{{end}}
{{define "body"}}
		<div class="container">
			<div id="form_div" >
				<div class="logo-circle" style="position:relative;top:-50;">
					<img src="assets/glogo-circle.svg"  id="logo" width="100px">
				</div>
				<!-- Header Row -->
				<div class="row" style="position: relative;top:-50px">
					<div class="col-md-10 col-md-offset-1 text-center" >
						<h3 class=""> Glass - Pay Over Time</h3>
						<small>Simple monthly installments, on anything</small>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<form class="form-horizontal" action="/glass" method="POST" enctype="multipart/form-data">
								<fieldset>
									<!-- Full Name input-->
									<div class="form-group">
										<div class="col-md-12 ">
											<input id="fullName" name="fullname" type="text" placeholder="Full Name" class="form-control input-md" required="">
										</div>
									</div>
									<!-- Phone Number input-->
									<div class="form-group">
										<div class="col-md-12  ">
											<input id="phoneNumber" name="phoneNumber" type="text" placeholder="Phone Number" class="form-control input-md" required="">
										</div>
									</div>
									<!-- Email Address input-->
									<div class="form-group">
										<div class="col-md-12 ">
											<input id="email" name="email" type="text" placeholder="Email Address" class="form-control input-md" required="">
										</div>
									</div>
									<!-- URL input-->
									<div class="form-group">
										<div class="col-md-12   ">
											<input id="url" name="url" type="text" placeholder="insert product URL or wishlist" class="form-control input-md" required="">
											<small>e.g.: <em>http://www.apple.com/shop/buy-ipad/ipad-pro</em></small>
										</div>
									</div>
									<!-- Submit Button -->
									<div class="form-group">
										<div class="col-md-8 col-md-offset-2 text-center ">
											<button id="submit" name="submit" class="btn  btn-lg
											" style="width:60%;text-transform: none">Submit!</button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-default  navbar-fixed-bottom" role="navigation">
				<div class="container text-center" style="color:gray">
					<p class="navbar-text col-md-12 col-sm-12 col-xs-12" style=" margin:0px;"> <a href="/terms">Terms of Service </a><span class="seperator">|</span>  <a href="/terms">Privacy Policy </a> <span class="seperator">|</span> <a class="" href="mailto:support@getglass.co"> Customer Service </a></p>
					<p class="navbar-text col-md-12 col-sm-12 col-xs-12" style="color:#2C01D5">&copy; Glass Financial, Inc. 2017 </p>
					
				</div>
			</nav>
		</div>
{{end}}