{{define "head"}}
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
	.form-horizontal {	
		margin:30px ;
	}
	input {
		background-color:red;
		padding:50px auto;
	}
	.inputForm{
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		line-height:1.4em;
		font-size:20px;
		min-width:80%;
		display:block;
		margin:20px auto;
	}
	#submitButton{
		background-color:300px;
	}
	.title,small {
		font-family: "Open Sans", san-serif;
		color: #2C01D5;
	}
	button {
		background-color: #2BB673;
		color: white;	
		font-family: "Open Sans", san-serif;
		font-weight: 300;

	}
	#logo {
		display:block;
		margin-left:auto;
		margin-right:auto;
		top:0;
		z-index: 100;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	.logo-circle {
	}
	input {
		margin-bottom:15px;
	}
	fieldset {

		padding:0;
		min-width:100%;
	}
	#form_div {
		background-color:#fff;
		padding-bottom: 0px;
		min-height:41%;
		position:relative;
		max-width:41%;
		margin-top:5em;
		margin-bottom: 100px;
		border-radius:8px; 
		border:solid #E3E3E3 1.5px;
		margin-left:auto;
		margin-right:auto;
		left:0;
		right:0
	}
	span.seperator {
		color:black;
	}
	a:hover {
		color:black;
	}

	nav,a {
		font-family: "Nunito";
		color:lightgray;
	}
	.navbar-fixed-bottom {
		border:0;
		background-color: white;
		position:relative;
	}





	@media only screen and (max-width: 800px){
		#form_div {
			max-width: 90%;
			min-height: 90%;
			margin-bottom: 105px;

		}
	}

	.form-control {
		border-radius: 10px;
	}
	

	body {

		background-repeat: no-repeat !important;
		background-position: 50% 50% !important;
		background-attachment: fixed !important;
		background-color: transparent !important;
		background-size: cover !important;

		background-size:  cover;
		background: url('../assets/terms-bg.svg');
	}


	#footer-nav {
		color:white;
		background: none;
	}

	nav a {
		color:white;
	}


	.error {
		color:red;
	}
</style>
{{end}}
{{define "body"}}
<div class="container-fluid">
	<div id="form_div" >
		<div class="logo-circle" style="position:relative;top:-50;">
			<img src="/assets/glogo-circle.svg"  id="logo" width="100px">
		</div>
		<!-- Header Row -->
		<div class="row" style="position: relative;top:-50px">
			<div class="col-md-10 col-md-offset-1 text-center" >
				<h2 class="title"> Glass </h2>
				<p class="lead">Simple monthly installments, on anything</p>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<form class="form-horizontal" id="application" action="/glass" method="POST" onsubmit="" enctype="application/x-www-form-urlencoded">
						<fieldset>
							<!-- First Name input-->
							<div class="form-group">
								<div class="col-md-6 ">
									<div class="alert alert-danger " role="alert" id="fname-alert" style="display:none">
										<strong>Please enter your first name </strong>
									</div>
									<input id="first-name" name="first-name" type="text" placeholder="First Name" class="form-control input-md" >
								</div>


								<!-- Last Name input-->

								<div class="col-md-6 ">
									<div class="alert alert-danger " role="alert" id="lname-alert" style="display:none">
										<strong>Please enter a last name.</strong>
									</div>
									<input id="last-name" name="last-name" type="text" placeholder="Last Name" class="form-control input-md" >
								</div>
							</div>

							<!-- Email Address input-->
							<div class="form-group">
								<div class="col-md-12 ">
									<div class="alert alert-danger " role="alert" id="phone-alert" style="display:none">
										<strong>Please enter a valid  phone number in 10-digit format eg: 6505551234</strong>
									</div>
									<input id="phone-number" name="phone-number" type="text" placeholder="6505551234" class="form-control input-md" >
								</div>
							</div>
							
							<!-- Email Address input-->
							<div class="form-group">
								<div class="col-md-12 ">
									<div class="alert alert-danger " role="alert" id="email-alert" style="display:none">
										<strong>Please enter a valid email address</strong>
									</div>
									<input id="email" name="email" type="text" placeholder="Email Address" class="form-control input-md" >
								</div>
							</div>
							<!-- URL input-->
							<div class="form-group has-feedback">
								<div class="col-md-12   ">
									<div class="alert alert-danger " role="alert" id="url-alert" style="display:none">
										<strong>Please enter a valid URL / link.</strong>
									</div>
									<input id="url" name="url" type="text" placeholder="Paste product URL or wishlist here" class="form-control input-md" />
									
								</div>
							</div>




							<!-- URL input-->
							<div class="form-group">
								<div class="col-md-12   ">

									<textarea id="notes" name="notes"   rows="4" cols="50" placeholder="Please add any additional notes about your order(e.g. shoe size,color,date of event, etc.)" class="form-control input-md" ></textarea>

								</div>
							</div>
							<!-- Submit Button -->
							<div class="form-group">
								<div class="col-md-8 col-md-offset-2 text-center ">
									<button id="submit" name="submit" class="btn  btn-lg
									" style="width:60%;text-transform: none">Continue</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>


	<nav class="navbar navbar-default  navbar-fixed-bottom" role="navigation" id="footer-nav">
		<div class="container text-center" style="">
			<p class="navbar-text col-md-12 col-sm-12 col-xs-12" style=" margin:0px;"> <a href="/tos">Terms of Service </a><span class="seperator">|</span>  <a href="/privacy-policy">Privacy Policy </a> <span class="seperator">|</span> <a class="" href="mailto:support@getglass.co"> Customer Service </a></p>
			<p class="navbar-text col-md-12 col-sm-12 col-xs-12" style="color:#fff">&copy; Glass Financial, Inc. 2017 </p>

		</div>
	</nav>
</div>

<script>


	$("form").submit(function(e){



		var valid = true;



		var fname = document.forms["application"]["first-name"].value;
		if (fname == "") {
			$("#fname-alert").show();
			valid = false; 	  
		} else {
			$("#fname-alert").hide();
		}

		var lname = document.forms["application"]["last-name"].value;
		if (lname == "") {
			$("#lname-alert").show();
			valid = false; 
		} else {
			$("#lname-alert").hide();
		}


		var phone = document.forms["application"]["phone-number"].value;
		if (!validatePhone(phone)) {
			$("#phone-alert").show();
			valid = false;
		} else {
			$("#phone-alert").hide();

		}
		var email = document.forms["application"]["email"].value;
		if (!validateEmail(email)) {
			console.log("Not valid email");
			$("#email-alert").show();
			valid = false;
			
		} else {
			$("#email-alert").hide();
		}



		var url = document.forms["application"]["url"].value;
		if (!isURL(url)) {
			console.log("Not valid url");
			$("#url-alert").show();
			valid = false; 

		} else {
			$("#url-alert").hide();
		}

		if (!valid) {
			console.log("Not valid");
			return(false);
		}

		if (valid == true) {
			$("#fname-alert").hide();
			$("#lname-alert").hide();
			$("#email-alert").hide();
			$("#url-alert").hide();

			console.log("is valid");
		}


	});


	function validatePhone(phone) {
		var pattern = new RegExp("^[0-9]{10}$");
		return pattern.test(phone);
	}




	function isURL(str) {
		var urlRegex = '^(?!mailto:)(?:(?:http|https|ftp)://)(?:\\S+(?::\\S*)?@)?(?:(?:(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[0-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))|(?:(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)(?:\\.(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)*(?:\\.(?:[a-z\\u00a1-\\uffff]{2,})))|localhost)(?::\\d{2,5})?(?:(/|\\?|#)[^\\s]*)?$';
		var url = new RegExp(urlRegex, 'i');
		return str.length < 2083 && url.test(str);
	}

	function validateEmail(email) {
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(email);
	}

	$("a.url-tool-tip").tooltip();
</script>

{{end}}